.cardsList {
  display: flex;
  gap: 32px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  margin-bottom: 32px;
}

.tweetsCard {
  position: relative;
  width: 380px;
  height: 460px;
  background: linear-gradient(
    115deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  box-shadow: -3px 7px 21px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  padding: 20px;
}

.cardTop {
  min-height: 200px;
  margin-bottom: 62px;
}

.popupImg {
  position: absolute;
  left: 36px;
  top: 28px;
  display: flex;
  justify-content: center;
}

.avatar {
  position: absolute;
  left: calc(50% - 40px);
  top: 184px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  z-index: 2;
}

.cardLine {
  position: absolute;
  width: 100%;
  height: 8px;
  left: 0px;
  top: 214px;

  background: #ebd8ff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.06), inset 0px -2px 3px #ae7be3,
    inset 0px 3px 3px #fbf8ff;
}

.cardBottom {
  color: #ebd8ff;
  text-transform: uppercase;
}

.tweetsCount {
  margin-bottom: 16px;
}

.followersCount {
  margin-bottom: 26px;
}

.followBtn {
  width: 196px;
  height: 50px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  color: #373737;
  background: #ebd8ff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
}

.followingBtn {
  background-color: #5cd3a8;
}

.followBtn:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}

.loadMoreBtn {
  width: 172px;
  height: 40px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 10px;
  color: #373737;
  background: #ebd8ff;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  display: block;
  margin: 0 auto 32px;
}

.loadMoreBtn:hover {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}
